@use "../../base/variables" as v;

.parallax{
    background:linear-gradient(to left , rgba(0,0,0,.5), rgba(0,0,0,.2)), url(../img/parallax.jpg);
    padding: 4rem 0;
    background-attachment: fixed;
    margin-bottom: 2rem;
    .parallax-content{

        .subtitle{
            color:v.$colorClaro;
            font-size: 1.5rem;
            text-align: center;
            font-weight: 500;
            font-family: v.$fuentePrimaria;
            margin-bottom: 1.3rem;
        }
        .parallax-text{
            color:v.$colorClaro;
            font-size: 1rem;
            text-align: center;
            font-weight: 300;
            font-family: v.$fuenteSecundaria;
            line-height: 1.6;
        }
    }

}