$colorPrimario: #ff3737;
$colorSecundario: #797979;
$colorOscuro: #343a40;
$colorClaro: #f6f8fc;
$fuentePrimaria: "Montserrat", sans-serif;
$fuenteSecundaria: "Source Sans 3", sans-serif;

$separador: 1rem;

$desktop: 1200px;
$medium: 992px;
$mobile: 768px;
