$colorPrimario:#FF3737;
$colorSecundario:#797979;
$colorOscuro:#343A40;
$colorClaro:#F6F8FC;
$fuentePrimaria:"Montserrat", sans-serif;;
$fuenteSecundaria:"Source Sans 3", sans-serif;;

$separador: 1rem;

$desktop:1200px;
$medium:992px;
$movile:768px;